.main_menu {
  font-family: "Happy Monkey", sans-serif, cursive;
  text-align: center;

  padding: 20px 25px 20px 25px;
  margin-top: 0px;
  background: purple;
  z-index: 2;
  position: sticky;
  top: 0;
}

.main_menu a {
  padding: 20px 25px 10px 25px;
  text-decoration: none;
  color: orange;
  font-size: 150%;
}

.main_menu a:hover {
  text-decoration: underline;
}
