.float_left {
  position: relative;
}

.basic_space_area {
  width: 60%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin: 40px auto;
  background: rgba(255, 255, 255, 0.822);
}

.basic_space_area h2 {
  font-family: "Happy Monkey", sans-serif, cursive;
  color: #7f00c4;
  padding: 30px 0px 10px 20px;
}

.space_picture_wrapper {
  clear: both;
  text-align: center;
}

.space_picture {
  width: 90%;
  z-index: 0;
}

.space_paragraph {
  font-family: "Happy Monkey", sans-serif, cursive;
  color: #7f00c4;
  padding: 20px 15px 10px 15px;
  font-size: 115%;
}

@media screen and (max-width: 800px) {
  .basic_space_area {
    width: 90%;
  }
}
