.float_left {
  position: relative;
  float: left;
}
.basic_space_area {
  width: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin: 40px auto;
}

.basic_space_area h2 {
  font-family: "Happy Monkey", sans-serif, cursive;
  color: purple;
  padding: 30px 0px 10px 20px;
}

.space_picture {
  width: 100%;
}

.space_paragraph {
  font-family: "Happy Monkey", sans-serif, cursive;
  color: purple;
  padding: 20px 15px 10px 15px;
  font-size: 115%;
}
